<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.samples.vision.ocrreader"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="OcrReaderApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MocNasToMrzi"
            android:label="Výsledek"
            android:parentActivityName=".UpravaZadaniActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.gms.samples.vision.ocrreader.UpravaZadaniActivity" />
        </activity>
        <activity
            android:name=".ShowVysledek"
            android:parentActivityName=".UpravaZadaniActivity"
            android:label="Výsledek"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.gms.samples.vision.ocrreader.UpravaZadaniActivity" />
        </activity>
        <activity
            android:name=".HistorieActivity"
            android:label="Historie"
            android:parentActivityName=".OcrCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpravaZadaniActivity"
            android:label="Úprava"
            android:parentActivityName=".OcrCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nastav"
            android:label="Nastavení"
            android:parentActivityName=".OcrCaptureActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".OcrCaptureActivity"
            android:label="APVVP"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>